/backend/.venv
/backend/django-project/backend/migrations
/backend/django-project/.env
/backend/bruno

/frontend/vite-project/node_modules
/frontend/vite-project/.env.local

deploy_inst.md
DEPLOYMENT.md
DOCKER_SETUP_SUMMARY.md
QUICK_START.md
QUICKSTART.md
SCAFFOLD_SUMMARY.md
BACKEND_IMPLEMENTATION_SUMMARY.md

# Environment files (keep .env.example)
.env

# Docker volumes
postgres_data/
media_files/
static_files/
