.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.git/
.gitignore
*.sqlite3
db.sqlite3
.env
.env.local
bruno/
*.log
django-project/__pycache__/
django-project/*/__pycache__/
django-project/*/migrations/__pycache__/
